<template>
    <div v-show="active" class="group2 mx-auto max-w-sm">
        <div class="mx-10">
            <h4 class="group-title">Drei einfache Schritte zu deinem neuen Mitarbeiter</h4>
        </div>
        <div class="step1 mt-5">
            <div class="circle-bg"></div>
            <div class="flex">
                <h1 class="step-digit pl-2.5 pt-20">1.</h1>
                <p class="step-text self-end ">Erstellen dein Unternehmensprofil</p>
            </div>
        </div>
        <div class="step2-container pt-10">
            <div class="step2-circles">
                <div class="step2-circle1" />
                <div class="step2-circle2" />
            </div>
            <div class="step2">
                <div class="img22" />
                <div class="flex relative z-10">
                    <h1 class="step-digit pl-9">2.</h1>
                    <p class="step-text self-end">Erstellen ein Jobinserat</p>
                </div>
            </div>
        </div>
        <div class="step3">
            <div class="circle-bg"></div>
            <div class="flex relative z-10">
                <h1 class="step-digit pl-14">3.</h1>
                <p class="step-text self-end">Wähle deinen neuen Mitarbeiter aus</p>
            </div>
            <div class="img23 relative z-10" />
        </div>
    </div>
</template>

<script lang="ts">
export default {
    props: {
        active: Boolean
    }
}
</script>