<template>
    <div class="main">
        <div class="waves-bg">
            <p class="maintext px-5 pt-5 relative z-10">Deine Job website</p>
            <Handshake />
        </div>
    </div>
</template>
